services:
  pytorch-2.4-flash:
    build:
      context: .
      dockerfile: Dockerfile
      network: host
    image: pytorch-2.4-flash-attn:latest
    container_name: qwen3-tts

    restart: unless-stopped

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

    # Increase shared memory (crucial for PyTorch dataloaders)
    shm_size: 16gb

    network_mode: host

    # ports:
    #   - "8123:8123"
    
    # Mount your current directory to /workspace
    volumes:
      - .:/workspace
      # Optional: Mount your models folder if needed
      # - /home/saltchicken/AI/models:/workspace/models

    working_dir: /workspace
